# Python-related
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual environment
env/
venv/
ENV/
*.env
*.venv

# Django specific
db.sqlite3
/static/
/media/

# Environment variables
.env
*.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and Editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Logs and Debugging
*.log
*.pot

# Byte-compiled files
*.class

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Documentation
docs/_build/
target/